@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
    font-family: Besley, serif;
    text-align: center;
    color: white;
    background-color: #111827;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.options-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button-container {
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sketchpad {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

.sketchpad div {
    flex: 1;
    border: solid black 1px;
    padding: 16px;
    box-sizing: border-box;
}

/* Buttons */

.resize, .restart {
    margin: 0 2px;
    padding: 1rem 2rem;
    background-color: #1d4ed8;
    color: white;
    border: none;
}

.resize {
    border-radius: 30px 0 0 30px;
}

.restart {
    border-radius: 0 30px 30px 0;
}